# Игнорируем файлы сред разработки (IDE)
.idea/
.vscode/

# Игнорируем кеш и скомпилированные файлы Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорируем папки с виртуальными окружениями
venv/
.venv/
env/
.env/
ENV/

# Игнорируем файлы с переменными окружения (СЕКРЕТЫ!)
# Это самый важный пункт. Никогда не добавляйте .env в Git.
.env
.env.*
!.env.example

# Игнорируем файлы баз данных
*.sqlite3
*.db

# Игнорируем логи и временные файлы
*.log
*.tmp
*.swp

# Игнорируем артефакты сборки и дистрибуции
build/
dist/
*.egg-info/

# Игнорируем файлы операционной системы
.DS_Store  # macOS
Thumbs.db  # Windows

# Игнорируем кэш и отчеты инструментов тестирования
.pytest_cache/
.coverage
htmlcov/
